@use '../../../../assets/styles/variables' as *;

.tab {
    text-decoration: none;

    div {
        text-align: center;
        font-weight: bold;
        color: $text-color;
        padding: 10px 20px;
        border-bottom: 5px solid $tabs-background-color;
    }

    &.active,
    &:hover {
        div {
            border-bottom: 5px solid $accent-color;
        }
    }
}