@use '../../../assets/styles/variables' as *;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-transparent;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: $post-background-color;
    border-radius: 10px;
    width: 50%;
    padding: 10px;

    @media (max-width: $layout-breakpoint-large) {
        width: 75%;
    }
}

.modal-close {
    cursor: pointer;
    float: right;
}