.tabs {
    display: flex;
    list-style: none;
    background-color: #555;
    padding: 0;
}

.tab {
    text-decoration: none;
}

.tab div {
    text-align: center;
    font-weight: bold;
    transition: background-color 0.5s;
    color: white;
    padding: 10px 20px;
}

.tab:hover div, .tab.active div {
    background-color: #F39C12;
    color: #333;
}

@media (max-width: 768px) {
    .tabs {
        display: block;
    }
}