@use '../../../assets/styles/variables' as *;

.tabs-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    &.sidebar-open {

        .tabs,
        .category {
            padding-left: $sidebar-width;
        }
    }

    @media (max-width: $layout-breakpoint-large) {
        overflow: visible;
    }
}

.tabs {
    display: flex;
    list-style: none;
    background-color: $tabs-background-color;
    padding: 0;
    margin: 0;

    @media (max-width: $layout-breakpoint-large) {
        display: block;
    }
}

.sidebar-hamburger {
    cursor: pointer;
    margin: auto 20px;
}

.tab-content {
    overflow-y: scroll;
    height: 100%;

    @media (max-width: $layout-breakpoint-large) {
        overflow-y: visible;
    }
}