@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.post-list {
    @include tab-content;
    margin-top: auto;
}

.post {
    margin-top: $content-margin;
    scroll-margin-top: $content-margin;
}