@use '../../../assets/styles/variables' as *;

.post {
    position: relative;
    background-color: $post-background-color;
    border: 2px solid $post-lighter-color;
    white-space: pre-line;
    min-height: 200px;
    padding: 10px;

    h2 {
        margin-top: 0;
    }

    &:hover {
        background-color: $post-lighter-color;
    }
}

.post-fav {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;

    .star-active {
        color: $post-star-color;
    }
}