@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: $tabs-background-color;
    width: $sidebar-width;
    height: 100%;
    padding: 10px;

    .close-sidebar {
        cursor: pointer;
        float: right;

        .icon {
            width: 30px;
            height: 30px;
        }
    }
}