$layout-breakpoint-medium: 992px;
$font-family: 'Segoe UI', 'Roboto', sans-serif;
$background-color: #333;
$tabs-background-color: #222;
$text-color: white;
$accent-color: orange;
$post-background-color: #444;
$post-lighter-color: #555;
$post-star-color: yellow;
$spinner-color: white;