@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.settings {
    @include tab-content;

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    input {
        margin-left: 10px;
    }
}